/* Font */

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal; 
}

/* Header */

.header {
  margin: 0;
  overflow: hidden;
  background-color: #E6B230;
  padding: 1rem 1rem;
/*   flex: 0 0 auto; */
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 0.3rem;
  margin-left: 1rem;
  text-decoration: none;
  font-size: 1.3rem;
  line-height: 2rem;
  border-radius: 5%;
}

.header a.logo {
  font-size: 2rem;
  font-weight: bold;
}

.header a:hover {
  background-color: #A68C4C;
  color: white;
}

.header a.active {
  background-color: #2a4fb4;
  color: white;
}

.header-right {
  float: right;
  margin-right: 3rem;
}

/* page content */

.page-container {
  display: flex;
  width: 100vmax;
  height: fit-content;
  margin-top: 6rem;
  margin-bottom: 6rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  
}

/* Recipes */

.recipe-card {
  margin: 1rem;
  padding: 2rem;
  text-align: left;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  z-index: 50;
}

.recipe-card p {
  margin: 0;
}

.recipe-card ol {
  font-weight: bold;
  font-size: 2rem;
  color: #2a4fb4;
}

.recipe-card ul {
  font-size: 1.5rem;
  color:#A68C4C;
}

.recipe-card li {
  margin: 0.5rem;
}

.single-line {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.recipe-card input {
  font-family: "Lato", sans-serif;
  color: #2a4fb4;
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  outline: none;
  font-size: 1.6rem;
  font-weight: bold;
}

.recipe-card input:focus {
  border-bottom: 2px solid #2a4fb4;
}

/* Footer */

.page-footer {
  position: fixed;
  bottom: 0; 
  background-color:white;
  width: 100%;
  text-align: right;
  
  
}

.page-footer p {
  margin: 0;
  padding-right: 2rem;
}



/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}
